<!-- called from items.templates passing in items and details
note that it uses $ctrl as the default from the component. -->
<ul class="list-group">
    <li class="list-group-item active">
        <span class="badge">{{$ctrl.items.length}}</span>
        <strong>{{$ctrl.details.name}}</strong>
        <p style="font-style: italic">{{$ctrl.details.special_instructions}}</p>
    </li>
    <li ng-repeat="item in $ctrl.items" class="list-group-item">
        <span class="badge">{{item.price_large | currency}}</span>
        <strong>{{item.name}}</strong> ({{item.short_name}})
        <p style="font-style: italic">{{item.description}}</p>
    </li>
</ul>